<div ng-controller="usersController">

	<div class="col-sm-6 col-sm-offset-3">
		<h4>Hello!</h4>
		<p>Please enter your name and share your ideas</p>
	</div>

	<div class="col-sm-6 col-sm-offset-3 centered">
			<form class="form-group" ng-submit='login()' name='loginForm'>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Ex: John" ng-model="user.username">
					<span ng-show="errors.data.error">{{ errors.data.error }}</span>
				</div>
				<input type="submit" class="btn btn-primary" value="Login">
			</form>
		</div>

</div>