<div ng-controller="showTopicsController">

	<div class="col-sm-10 col-sm-offset-1">

		<h3><a href="">{{topicData.user}}</a> posted a topic:</h3>

		<p>Desciption: {{ topicData.description }}</p>

		<h4>Post your answer here...</h4>

		<p>{{$id}}</p>

		<form class="form-group" ng-submit='addAnswer()' name='answer'>
			<div class="form-group">
				<textarea class="form-control" ng-model="postAnswer.answer"></textarea>
				<span ng-show="errors.data.error">{{ errors.data.error }}</span>
				<input type="hidden" value="{{showTopic._id}}"></input>
			</div>
			<input type="submit" class="btn btn-primary" value="Post">
		</form>

	</div>


	<div class="col-sm-8 col-sm-offset-2">

		<div ng-repeat="answer in answers track by $index">
			
			<p> {{answer.name}}: {{answer.answer}}</p> 

			<form class="form-group" ng-submit='postAnswer()' name='answer'>
				<div class="form-group">
					<textarea class="form-control" ng-model="postComment.comment"></textarea>
					<span ng-show="errors.data.error">{{ errors.data.error }}</span>
				</div>
			<input type="submit" class="btn btn-primary" value="Comment">
		</form>

		</div>
		


	</div>

</div>